REDIS_PASSWORD=change_me
REDIS_PORT=3000

SQL_PORT=1433
SQL_PASSWORD=change_me

API_PORT=5000
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

JwtTokenOptions__SecretKey=change_me
JwtTokenOptions__RefreshTokenExpiryMinutes=10080
JwtTokenOptions__Issuer=eCommerceApi
JwtTokenOptions__ExpiryMinutes=60
JwtTokenOptions__Audience=eCommerceClient

Authentication__Google__ClientSecret=change_me
Authentication__Google__ClientId=change_me